<app-bar></app-bar>
<ion-content color="light">
    <h3 class="ion-margin">Mis competiciones</h3>
    <ion-grid>
        <ion-list>
            <ion-item (click)="presentPopover($event,torneo.idtorneo)" *ngFor="let torneo of torneos">
                <ion-label >{{torneo.nombretorneo}}</ion-label>
            </ion-item>
        </ion-list>
    </ion-grid>
</ion-content>

<!--    <div class="mx-3 my-5" *ngFor="let torneo of torneos">-->
<!--      <div style="background-color: var(&#45;&#45;ion-color-secondary)" class="d-block py-2">-->
<!--        <div class="d-flex">-->
<!--          <span class="col-12 text-left text-white">{{torneo.nombretorneo}}</span>-->
<!--&lt;!&ndash;          <span class="col-5 text-right text-white">{{torneo.fecha}}</span>&ndash;&gt;-->
<!--        </div>-->
<!--      </div>-->
<!--      <a routerLink="/torneos/torneo" class="py-1 bg-white ion-text-center d-block color-tertiary">visitar</a>-->
<!--    </div>-->
