<app-bar></app-bar>

<ion-content color="light">
  <h3 class="ion-margin">Mis competiciones</h3>
  <div class="mx-3 my-5">
    <div style="background-color: var(--ion-color-secondary)" class="d-block py-2">
      <div class="d-flex">
        <span class="col-7 text-left text-white">Liga femenina fútbol</span>
        <span class="col-5 text-right text-white">12/02/2019</span>
      </div>
    </div>
    <span class="py-1 bg-white ion-text-center d-block color-tertiary">visitar</span>
  </div>

  <div class="mx-3 my-5">
      <div style="background-color: var(--ion-color-secondary)" class="d-block py-2">
        <div class="d-flex">
          <span class="col-7 text-left text-white">Liga femenina fútbol</span>
          <span class="col-5 text-right text-white">12/02/2019</span>
        </div>
      </div>
      <span class="py-1 bg-white ion-text-center d-block color-tertiary">visitar</span>
    </div>

  <div class="mx-3 my-5">
      <div style="background-color: var(--ion-color-secondary)" class="d-block py-2">
        <div class="d-flex">
          <span class="col-7 text-left text-white">Liga femenina fútbol</span>
          <span class="col-5 text-right text-white">12/02/2019</span>
        </div>
      </div>
      <span class="py-1 bg-white ion-text-center d-block color-tertiary">visitar</span>
    </div>

</ion-content>
