<app-bar></app-bar>
<div style="background-color: #2E3F5F">
    <h5 class="ion-margin text-white text-center">Mis competiciones</h5>
</div>
<ion-content color="light">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content class="bg-light"
            pullingIcon= null>
        </ion-refresher-content>
    </ion-refresher>
        <ion-list class="bg-transparent ion-no-padding" *ngIf="torneos, else noTorneos">
            <ion-item (click)="openPicker(torneo.idtorneo)" *ngFor="let torneo of torneos">
                {{torneo.nombretorneo}}
            </ion-item>
        </ion-list>
        <ng-template #noTorneos>
            <h5 class="ion-margin">No estás inscrito en ningún torneo con la funcionalidad "app".</h5>
        </ng-template>
</ion-content>

<!--    <div class="mx-3 my-5" *ngFor="let torneo of torneos">-->
<!--      <div style="background-color: var(&#45;&#45;ion-color-secondary)" class="d-block py-2">-->
<!--        <div class="d-flex">-->
<!--          <span class="col-12 text-left text-white">{{torneo.nombretorneo}}</span>-->
<!--&lt;!&ndash;          <span class="col-5 text-right text-white">{{torneo.fecha}}</span>&ndash;&gt;-->
<!--        </div>-->
<!--      </div>-->
<!--      <a routerLink="/torneos/torneo" class="py-1 bg-white ion-text-center d-block color-tertiary">visitar</a>-->
<!--    </div>-->
