<p class="text-center color-tertiary my-2">Jornada</p>
<div class="text-center d-flex align-content-center justify-content-center">
  <ion-icon class="color-tertiary" size="large" name="arrow-back-outline"></ion-icon>
  <span class="border-secondary border-width-3 rounded bg-white px-4 py-1">1</span>
  <ion-icon class="color-tertiary" size="large" name="arrow-forward-outline"></ion-icon>
</div>
<div class="bg-white my-3">
  <div class="border-set p-2">
    <ion-row>
      <ion-col class="ion-text-left">
        <span class="color-tertiary">
        Jornada 1
        </span>
      </ion-col>

    </ion-row>
    <ion-row class="mb-2">
      <ion-col size="6" class="ion-text-left">
        <span>Pablito y Samu</span>
      </ion-col>
      <ion-col size="4">
        <div class="resultadosSet px-2 text-left border-secondary">
          <span>1 2 3 4 </span>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="my-2">
      <ion-col size="6" class="ion-text-left">
        <span>Pablito y Samu</span>
      </ion-col>
      <ion-col size="4">
        <div class="resultadosSet px-2 text-left border-secondary">
          <span>1 2 3 4 </span>
        </div>
      </ion-col>
    </ion-row>
  </div>

  <div class="border-set">
    <ion-row class="my-2">
      <ion-col size="6">
        <span>Pablito y Samu</span>
      </ion-col>
      <ion-col size="4">
        <div class="resultadosSet px-2 text-left border-secondary">
          <span>1 2 3 4 5 6 </span>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="my-2">
      <ion-col size="6">
        <span>Pablito y Samu</span>
      </ion-col>
      <ion-col size="4">
        <div class="resultadosSet px-2 text-left border-secondary">
          <span>1 2 3 4 5 6 </span>
        </div>
      </ion-col>
    </ion-row>
  </div>
</div>

  <table class="table light my-3">
    <tbody class="size-14">
    <tr>
      <td class="local-team">Las Palmas</td>
      <td class="result"><span class="rounded py-1 px-2 back-light">3-3</span></td>
      <td class="visitor-team">Universidad</td>
    </tr>
    <tr>
      <td class="local-team">Huracán</td>
      <td class="date"><span>03/05</span></td>
      <td class="visitor-team">Unión Viera</td>
    </tr>
    <tr>
      <td class="local-team">Santa Brígida</td>
      <td class="result"><span class="rounded py-1 px-2 back-light">3-3</span></td>
      <td class="visitor-team">Acodetti</td>
    </tr>
    <tr>
      <td class="local-team">Veteranos del Pilar</td>
      <td class="result"><span class="rounded py-1 px-2 back-light">3-3</span></td>
      <td class="visitor-team">Guanarteme</td>
    </tr><tr>
      <td class="local-team">Veteranos del Pilar</td>
      <td class="result"><span class="rounded py-1 px-2 back-light">3-3</span></td>
      <td class="visitor-team">Guanarteme</td>
    </tr><tr>
      <td class="local-team">Veteranos del Pilar</td>
      <td class="result"><span class="rounded py-1 px-2 back-light">3-3</span></td>
      <td class="visitor-team">S</td>
    </tr><tr>
      <td class="local-team">Veteranos del Pilar</td>
      <td class="result">1-0</td>
      <td class="visitor-team">Guanarteme</td>
    </tr><tr>
      <td class="local-team">Veteranos del Pilar</td>
      <td class="result">1-0</td>
      <td class="visitor-team">Guanarteme</td>
    </tr><tr>
      <td class="local-team">Veteranos del Pilar</td>
      <td class="result">1-0</td>
      <td class="visitor-team">Guanarteme</td>
    </tr><tr id="element">
      <td class="local-team">Veteranos del Pilar</td>
      <td class="result">1-0</td>
      <td class="visitor-team">YOP</td>
    </tr><tr>
      <td class="local-team">Veteranos del Pilar</td>
      <td class="result">1-0</td>
      <td class="visitor-team">Guanarteme</td>
    </tr>
    </tbody>
  </table>

<div class="text-center d-flex align-content-center justify-content-center">
  <ion-icon class="color-tertiary" size="large" name="arrow-back-outline"></ion-icon>
  <span class="border-secondary border-width-3 rounded bg-white px-4 py-1">1</span>
  <ion-icon class="color-tertiary" size="large" name="arrow-forward-outline"></ion-icon>
</div>
