<app-bar></app-bar>
<div class="nav-bg">
  <h5 class="ion-margin text-white text-center">Perfil</h5>
</div>
<ion-content>
  <form [formGroup]="updateUserForm" (ngSubmit)="onSubmit(updateUserForm.value)" *ngIf="user">
    <ion-row>
      <ion-col size="6">
        <ion-item>
          <ion-label color="tertiary" position="stacked">Nombre</ion-label>
          <ion-input type="text" formControlName="nombre"></ion-input>
        </ion-item>
      </ion-col>

      <ion-col size="6">
        <ion-item>
          <ion-label color="tertiary" position="stacked">Apellidos</ion-label>
          <ion-input type="text" formControlName="apellidos"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <div class="ml-20" *ngIf="FormControl.nombre.invalid && FormControl.nombre.touched">
          <small class="text-danger" *ngIf="FormControl.nombre.errors.required">
            Este campo es obligatorio.
          </small>
        </div>
      </ion-col>

      <ion-col>
        <div class="ml-20" *ngIf="FormControl.apellidos.invalid && FormControl.apellidos.touched">
          <small class="text-danger" *ngIf="FormControl.apellidos.errors.required">
            Este campo es obligatorio.
          </small>
        </div>
      </ion-col>
    </ion-row>
    <ion-button expand="block" class="ion-margin" type="submit" color="primary">Actualizar perfil</ion-button>
  </form>
  <p class="color-primary ml-3 mt-3" (click)="presentPasswordModal()">Cambiar contraseña</p>
</ion-content>
