<section *ngIf="portraitOrientation; else landscape">
  <table class="sticky-top table light mt-2 mb-0">
    <thead>
<!--        Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>-->
        <th (click)="toggleOrientation()"><img src="../../../../assets/icon/mobile-phone.svg" alt="Rotate phone"></th>
    </thead>
  </table>
  <table class="table light mb-2">
    <tbody>
    <tr *ngFor="let position of positions; let i = index">
      <td style="width: 15%" class="border-right bg-light">{{i + 1}}</td>
      <td style="width: 20%" class="bg-light">{{position.nombreequipo}}</td>
      <td style="width: 20%">{{position.Puntos}}</td>
      <td style="width: 20%">{{position.PJ}}</td>
    </tr>
    </tbody>
  </table>
</section>

<ng-template #landscape>
  <table class="sticky-top table light mt-2 mb-0">
    <thead>
        <th (click)="toggleOrientation()"><img src="../../../../assets/icon/mobile-phone.svg" alt="Rotate phone"></th>
    </thead>
  </table>
  <table class="table light mb-2">
    <tbody >
      <tr *ngFor="let position of positions; let i = index">
        <td class="border-right bg-light">{{i + 1}}</td>
        <td class="bg-light">{{position.nombreequipo}}</td>
        <td>{{position.Puntos}}</td>
        <td>{{position.PJ}}</td>
        <td>{{position.PG}}</td>
        <td>{{position.PE}}</td>
        <td>{{position.PP}}</td>
        <td>{{position.SF}}:{{position.SC}}</td>
        <td>{{position.DS}}</td>
        <td>{{position.JF}}:{{position.JC}}</td>
        <td>{{position.DJ}}</td>

      </tr>
    </tbody>
  </table>

</ng-template>
