<ion-content class="blue-gradient-content" scroll-y="false">
  <div class="m-big">
    <ion-img size="big" class="logo" src="../assets/images/logo.png"></ion-img>
  </div>
  <form class="my-4" [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
      <ion-item class="text-white" color="none">
        <ion-icon class="mr-2" name="mail-outline"></ion-icon>
        <ion-input placeholder="Email" type="text" formControlName="user"></ion-input>
      </ion-item>

      <ion-item class="text-white" color="none">
        <ion-icon class="mr-2" name="lock-closed-outline"></ion-icon>
        <ion-input placeholder="Contraseña" type="password" formControlName="password">
        </ion-input>
      </ion-item>
    <ion-button expand="block" class="ion-margin" type="submit" color="tertiary">Iniciar sesión</ion-button>
  </form>
  <ion-row class="justify-content-center">
    <a (click)="presentOlvidarPasswordModal()" class="text-white font-weight-bold size-14">
      Olvidé mi contraseña
    </a>
  </ion-row>
</ion-content>

<ion-footer class="bg-blue-gradient">
  <div class="ion-text-center ion-margin">
    <span class="text-white">
      ¿No tienes cuenta?
      <a class="text-white font-weight-bold" routerLink="/registro">Regístrate</a>
    </span>
  </div>
</ion-footer>
