<ion-header>
  <ion-toolbar color="primary">
    <ion-title text-center>
      <ion-img src="../assets/images/logo.png"></ion-img>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">

  <div class="nav light">
    <ion-grid class="ion-text-center">
      <ion-row>
        <ion-col>
          <p class="ion-text-center ion-no-margin ion-padding">Liga masculina</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <p style="text-decoration: underline white">PARTIDOS</p>
        </ion-col><ion-col>
          <p>MIS PARTIDOS</p>
        </ion-col><ion-col>
          <p>CLASIFICACIÓN</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <p class="text-center arrow mt-2">Jornada</p>
  <div class="text-center">
    <ion-icon class="arrow" size="large" name="arrow-back-outline"></ion-icon>
    <span class="border border-secondary px-4 py-1">
      1
    </span>
    <ion-icon class="arrow" size="large" name="arrow-forward-outline"></ion-icon>
  </div>
  <ion-slides>

    <ion-slide>
      <ion-grid class="ion-text-center ion-margin">
        <table class="table light">
          <thead>
          <tr>
            <th colspan="3">Jornada 1</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Las Palmas</td>
            <td>4-2</td>
            <td>Universidadas</td>
          </tr>
          <tr>
            <td>Universidades</td>
            <td>4-2</td>
            <td>Las Palmas</td>
          </tr>
          </tbody>
        </table>
      </ion-grid>
    </ion-slide>

    <ion-slide>
      <h2>What is Ionic?</h2>
      <p><b>Ionic Framework</b> is an open source SDK that enables developers to build high quality mobile apps with web technologies like HTML, CSS, and JavaScript.</p>
    </ion-slide>

    <ion-slide>
      <h2>What is Ionic Appflow?</h2>
      <p><b>Ionic Appflow</b> is a powerful set of services and features built on top of Ionic Framework that brings a totally new level of app development agility to mobile dev teams.</p>
    </ion-slide>

    <ion-slide>
      <h2>Ready to Play?</h2>
      <ion-button fill="clear">Continue <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
    </ion-slide>

  </ion-slides>
</ion-content>

