<ion-header>
  <ion-toolbar color="primary" class="d-flex">
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="person-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title text-center>
      <ion-img src="../assets/images/logo.png"></ion-img>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">

  <div class="nav light">
    <ion-grid class="ion-text-center">
      <ion-row>
        <ion-col>
          <p class="ion-text-center ion-no-margin ion-padding">Liga masculina</p>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-around text-light size-14">
        <ion-col>
          <span class="border-bottom">PARTIDOS</span>
        </ion-col>
        <ion-col>
          <span>MIS PARTIDOS</span>
        </ion-col>
        <ion-col>
          <span>CLASIFICACIÓN</span>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <ion-grid class="ion-text-center ion-margin">
    <app-clasificacion></app-clasificacion>
  </ion-grid>
</ion-content>

