<ion-header translucent>
  <ion-toolbar color="primary">
    <ion-title>
      Cambiar contraseña
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">
        Cerrar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit(changePasswordForm.value)">
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-input placeholder="Contraseña actual" formControlName="antigua" type="text"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-input placeholder="Nueva contraseña" formControlName="nueva"
                     [type]="getSeePassword() ? 'text' : 'password'"></ion-input>
          <ion-icon (click)="toggleSeePassword()" slot="end"
                    [name]="getSeePassword() ? 'eye-off-outline' : 'eye-outline'">
          </ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div class="ml-20" *ngIf="FormControl.nueva.invalid && FormControl.nueva.touched">
          <small class="text-danger" *ngIf="FormControl.nueva.errors.required">
            Este campo es obligatorio.
          </small>
          <small class="text-danger" *ngIf="FormControl.nueva.errors.minlength">
            La contraseña debe tener al menos 6 caracteres.
          </small>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-input placeholder="Confirmar nueva contraseña" [type]="getSeePassword() ? 'text' : 'password'"
                     formControlName="confirmPassword">
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div class="ml-20" *ngIf="FormControl.confirmPassword.invalid && FormControl.confirmPassword.touched">
          <small class="text-danger" *ngIf="FormControl.confirmPassword.errors.required">
            Este campo es obligatorio.
          </small>
          <small class="text-danger" *ngIf="FormControl.confirmPassword.errors.mustMatch">
            Las contraseñas no coinciden.
          </small>
        </div>
      </ion-col>
    </ion-row>
    <ion-button expand="block" class="ion-margin" type="submit" color="primary">Cambiar contraseña</ion-button>
  </form>
</ion-content>
