 <table class="table light">
    <tbody class="size-14">
    <tr>
      <td colspan="3" class="jornada color-tertiary">Jornada 1</td>
    </tr>

    <tr class="no-border-top">
      <td class="local-team">
        <span> Las Palmas</span>
      </td>
        <td class="result"><span class="rounded py-1 px-2">3-3</span></td>
        <td class="visitor-team">Universidadas</td>
    </tr>

    <tr>
        <td colspan="3" class="jornada color-tertiary">Jornada 2</td>
    </tr>
    <tr class="no-border-top">
      <td class="local-team">Huracán</td>
      <td id="aqui1" class="result"><span class="rounded py-1 px-2">1-0</span></td>
      <td class="visitor-team">Unión Viera</td>
    </tr>

    <tr>
      <td colspan="3" class="jornada color-tertiary">Jornada 3</td>
    </tr>
    <tr class="no-border-top">
      <td class="local-team">Santa Brígida</td>
      <td class="result"><span class="rounded py-1 px-2">2-3</span></td>
      <td class="visitor-team">Acodetti</td>
    </tr>

    <tr>
      <td colspan="3" class="jornada color-tertiary">Jornada 4</td>
    </tr>
    <tr class="no-border-top">
      <td class="local-team">Veteranos del Pilar</td>
      <td class="result"><span class="rounded py-1 px-2">0-2</span></td>
      <td class="visitor-team">Guanarteme</td>
    </tr><tr>
      <td colspan="3" class="jornada color-tertiary">Jornada 5</td>
    </tr>
    <tr class="no-border-top">
      <td class="local-team">Veteranos del Pilar</td>
      <td class="result">05/04</td>
      <td class="visitor-team">Guanarteme</td>
    </tr><tr>
      <td id="aqui" colspan="3" class="jornada color-tertiary">Jornada 6</td>
    </tr>
    <tr class="no-border-top">
      <td class="local-team">Veteranos del Pilar</td>
      <td class="result">06/04</td>
      <td class="visitor-team">Guanarteme</td>
    </tr><tr>
      <td colspan="3" class="jornada color-tertiary">Jornada 7</td>
    </tr>
    <tr class="no-border-top">
      <td class="local-team">Veteranos del Pilar</td>
      <td class="result">1-0</td>
      <td class="visitor-team">Guanarteme</td>
    </tr><tr>
      <td colspan="3" class="jornada color-tertiary">Jornada 8</td>
    </tr>
    <tr class="no-border-top">
      <td class="local-team">Veteranos del Pilar</td>
      <td class="result">1-0</td>
      <td class="visitor-team">Guanarteme</td>
    </tr><tr>
      <td colspan="3" class="jornada color-tertiary">Jornada 4</td>
    </tr>
    <tr class="no-border-top">
      <td class="local-team">Veteranos del Pilar</td>
      <td class="result">1-0</td>
      <td class="visitor-team">Guanarteme</td>
    </tr><tr>
      <td colspan="3" class="jornada color-tertiary">Jornada 4</td>
    </tr>
    <tr class="no-border-top">
      <td class="local-team">Veteranos del Pilar</td>
      <td class="result">1-0</td>
      <td class="visitor-team">Aqui</td>
    </tr>
    </tbody>
  </table>
