<div #nav>
  <app-bar></app-bar>
  <div *ngIf="categoriaDetails" class="nav-bg light ion-text-center d-block ion-padding pb-0">
    <h5 class="ion-no-margin text-white no-overflow">
      {{categoriaDetails.nombreTorneo}}
    </h5>
    <span (click)="selectCategorias()" class="text-white mt-1 size-16 d-block no-overflow">
      {{categoriaDetails.nombre}}
      <ion-icon name="caret-down-outline"></ion-icon>
    </span>
  </div>
</div>

<div class="nav-bg light">
  <ion-grid class="ion-text-center">
    <ion-row class="ion-justify-content-around size-14 text-white">
      <ion-col>
        <span (click)="changeSlide(0)" [class.active]="navIndex === 0" >
          RESULTADOS
        </span>
      </ion-col>
      <ion-col *ngIf="idEquipo">
        <span (click)="changeSlide(1)" [class.active]="navIndex === 1">
          MIS PARTIDOS
        </span>
      </ion-col>
      <ion-col *ngIf="categoriaType === '2'">
        <span *ngIf="idEquipo; else noPlayer" (click)="changeSlide(2)" [class.active]="navIndex === 2">
          CLASIFICACIÓN
        </span>
        <ng-template #noPlayer>
          <span (click)="changeSlide(1)" [class.active]="navIndex === 1">
          CLASIFICACIÓN
        </span>
        </ng-template>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>

  <ion-content scroll-y="false" color="light">
    <ion-slides [options]="{initialSlide: 1}" (ionSlideDidChange)="changeSlideIndex()">

      <ion-slide >
        <div class="scrollable mx-2" appHideHeader [nav]="nav">
          <app-resultados *ngIf="categoriaType" [idCategoria]="idCategoria" [categoriaType]="categoriaType"></app-resultados>
        </div>
      </ion-slide>

      <ion-slide>
        <div #scroll class="scrollable mx-2" appHideHeader [nav]="nav">
          <app-resultados-equipo *ngIf="categoriaType" [modal]="false" [categoriaType]="categoriaType" [idCategoria]="idCategoria" [idEquipo] = "idEquipo"></app-resultados-equipo>
        </div>
      </ion-slide>

      <ion-slide *ngIf="categoriaType === '2'">
        <div class="mx-2 scrollable" appHideHeader [nav]="nav">
          <app-clasificacion [idCategoria]="idCategoria"></app-clasificacion>
        </div>
      </ion-slide>

    </ion-slides>
  </ion-content>

