<ion-app>
  <ion-menu side="start" menuId="custom" contentId="main">
    <ion-header>
      <ion-toolbar class="py-2" color="secondary">
        <span class="p-3 h5">Hola {{userName}}</span>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-item color="none" detail="false" lines="none" routerLink="/torneos">
            <ion-icon class="mr-2" name="trophy-outline"></ion-icon>
            <ion-label>Mis torneos</ion-label>
          </ion-item>
          <ion-item color="none" detail="false" lines="none" routerLink="/inscribirse">
            <ion-icon class="mr-2" name="trophy-outline"></ion-icon>
            <ion-label>Inscribirse</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
