.nav{
  background-color: #2E3F5F
}
.active{
  color: #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
}
.scrollable {
  position: relative;
  overflow: hidden;
  ::-webkit-scrollbar {
    display: none;
  }
  overflow-y: scroll;
  height: calc(100vh - 191px);
  width: inherit;
}
