<app-bar></app-bar>
<div style="background-color: #2E3F5F">
  <h5 class="ion-margin text-white text-center">Notificaciones</h5>
</div>
<ion-content color="light">
  <ion-grid>
    <ion-list class="bg-transparent">
      <ion-item lines="full">
        El partido contra Pablo - Rafa del torneo Liga de Pádel 2014 se disputará mañana a las 5
      </ion-item>
      <ion-item lines="full">
        El partido contra Pablo - Rafa del torneo Liga de Pádel 2014 se disputará mañana a las 5
      </ion-item>
    </ion-list>
  </ion-grid>
</ion-content>
