<table *ngIf="portraitOrientation; else landscape" class="table light my-2">
  <thead>
  <tr class="no-border bg-light">
    <th colspan="2">Equipo</th>
    <th>Puntos</th>
    <th>PJ</th>
    <th>DS</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let position of positions; let i = index">
    <td class="border-right bg-light">{{i + 1}}</td>
    <td class="bg-light">{{position.nombreequipo}}</td>
    <td>{{position.Puntos}}</td>
    <td>{{position.PJ}}</td>
    <td>{{position.DS}}</td>
  </tr>
  </tbody>
</table>
<ng-template #landscape>
  <table class="table light my-2">
  <thead>
  <tr class="no-border bg-light">
    <th colspan="2">Equipo</th>
    <th>Puntos</th>
    <th>PJ</th>
    <th>PG</th>
    <th>PE</th>
    <th>PP</th>
    <th>SF:SC</th>
    <th>DS</th>
    <th>JF:JC</th>
    <th>DJ</th>
  </tr>
  </thead>
  <tbody >
  <tr *ngFor="let position of positions; let i = index">
    <td class="border-right bg-light">{{i + 1}}</td>
    <td class="bg-light">{{position.nombreequipo}}</td>
    <td>{{position.Puntos}}</td>
    <td>{{position.PJ}}</td>
    <td>{{position.PG}}</td>
    <td>{{position.PE}}</td>
    <td>{{position.PP}}</td>
    <td>{{position.SF}}:{{position.SC}}</td>
    <td>{{position.DS}}</td>
    <td>{{position.JF}}:{{position.JC}}</td>
    <td>{{position.DJ}}</td>

  </tr>
  </tbody>
  </table>

</ng-template>
