<table class="table light my-2">
  <thead>
  <tr class="no-border">
    <th colspan="2">Equipo</th>
    <th>Puntos</th>
    <th>PJ</th>
  </tr>
  </thead>
  <tbody class="size-14">
  <tr>
    <td class="bg-success no-border">1</td>
    <td>Las Palmas</td>
    <td>42</td>
    <td>20</td>
  </tr>
  <tr>
    <td #object1 id='1' class="bg-success no-border">2</td>
    <td>Huracán</td>
    <td>38</td>
    <td>20</td>
  </tr>
  <tr>
    <td class="bg-success no-border">3</td>
    <td>Villa Santa Brígida</td>
    <td>35</td>
    <td>19</td>
  </tr>
  </tbody>
</table>
