<div *ngIf="torneoType === 'sets'; else horizontal" class="bg-white my-3">
    <div *ngFor="let result of results; let i = index" class="border-set p-2">
        <ion-row>
            <ion-col class="ion-text-left">
        <span class="color-tertiary">
        Jornada {{i + 1}}
        </span>
            </ion-col>
        </ion-row>

        <ion-row class="my-2">
            <ion-col size="6" class="ion-text-left">
                <span>{{result.equipo1}}</span>
            </ion-col>
            <ion-col offset="1" size="4">
                <div class="resultadosSet px-2 text-left border-secondary">
                    <span>{{result.rdo1}} </span>
                </div>
            </ion-col>
        </ion-row>

        <ion-row class="my-2">
            <ion-col size="6" class="ion-text-left">
                <span>{{result.equipo2}}</span>
            </ion-col>
            <ion-col offset="1" size="4">
                <div class="resultadosSet px-2 text-left border-secondary">
                    <span>{{result.rdo2}} </span>
                </div>
            </ion-col>
        </ion-row>
    </div>

</div>
<ng-template #horizontal>
    <table class="table light">
        <tbody class="size-14">
        <ng-template ngFor let-result [ngForOf]="results" let-i="index">
            <tr>
                <td colspan="3" class="jornada color-tertiary">Jornada {{i + 1}}</td>
            </tr>

            <tr class="no-border-top">
                <td class="local-team">
                    <span>{{result.equipo1}}</span>
                </td>
                <td class="result"><span class="rounded py-1 px-2">{{result.rdo1}}-{{result.rdo2}}</span></td>
                <td class="visitor-team">{{result.equipo2}}</td>
            </tr>
        </ng-template>
        </tbody>
    </table>
</ng-template>
<div *ngIf="!results" class="d-flex h-75 align-items-center justify-content-center">
    <h5>No participas en esta categoría</h5>
</div>
