/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */
/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/* Bootstrap */
@import "../node_modules/bootstrap/dist/css/bootstrap.css";

[type="submit"] {
  -webkit-appearance: none;
}
tbody{
  background-color: #ffffff;
  td{
    vertical-align: middle !important;
  }
}
.color-tertiary{
  color: #8C9706 ;
}
.size-14{
  font-size: 14px ;
}
.local-team{
  width: 40%;
  text-align: left;
}
.visitor-team{
  width: 40%;
  text-align: right;
}
span{
  font-size: 14px;
}
.result{
  width: 20%;
  text-align: center;
  span{
    background-color: #f2f2f2;
    font-size: 18px;
  }
}
.date{
  width: 20%;
  text-align: center;
}
.resultadosSet {
  color: #777;
  border: 1px solid #CCC;
  border-radius: 44px;
  font-weight: bold;
  background: linear-gradient(#f6f6f6, #e6e6e6);
}
.logo{
  margin-left: auto;
  margin-right: auto;
}
.logo[size=big]{
  width: 75vw;
}
.logo[size=small]{
  width: 50vw;
}
.blue-gradient-content{
  --background: linear-gradient(to right, rgb(83, 114, 172), rgb(46, 63, 95));
}
.border-set{
  border-top: 1px solid #dee2e6;
}
.ionic-w-80{
  --width:80%;
}
.ionic-w-60{
  --width:60%;
}
.toolbar-height{
  height: 56px;
}
.nav-bg{
  background-color: #2E3F5F
}
.medium-icon{
  font-size: 20px !important;
}
.no-border-top td{
  border-top: 0 !important;
}
