<app-bar></app-bar>
<div style="background-color: #2E3F5F">
  <h5 class="ion-margin text-white text-center">Notificaciones</h5>
</div>
<ion-content color="light">

  <ion-refresher slot="fixed" (ionRefresh)="fetchNotificaciones($event)">
    <ion-refresher-content class="bg-light"
                           pullingIcon= null>
    </ion-refresher-content>
  </ion-refresher>
  <app-notificacion-list [title]="'No leídas'" [notificaciones] = unreadNotificaciones></app-notificacion-list>
  <app-notificacion-list [title]="'Leídas'" [notificaciones] = readNotificaciones></app-notificacion-list>

</ion-content>
